.category-progress{
	width:70%;
	float:left;
	padding-left: 10px;
	padding-top: 2px;
}

.category-option{
	padding-top: 10px;
	min-height: 35px;
	font-size: 18px;
}

.category-delete{
	float:right;
	margin-right: 10px;
	margin-top-top: -5px;
}

.category-delete img{
	height: 22px;
	width: 22px;
}

.category-cost{
	width: 18%;
	float:right;
	text-align: left;
	margin-top: 4px;
	margin-right: 28px;
	color:white;
}