.progress {
	background: rgba(245, 245, 245, 1); 
	border: 0px solid rgba(245, 245, 245, 1); 
	border-radius: 4px; 
	height: 18px;
	width: 98%;
	color:white;
	background: grey;
	font-size: 12px;
	/*padding-top: 5px;*/
}

.progress-top {
	background: rgba(245, 245, 245, 1); 
	border: 0px solid rgba(245, 245, 245, 1); 
	border-radius: 4px; 
	height: 18px;
	width: 120%;
	color:white;
	background: grey;
	font-size: 12px;
	margin-top: -17px;
	margin-bottom: 10px;
	margin-left: -16px;
	margin-right: -16px;
	text-align: center;
	font-size: 14px;
}

.progress-bar{
	height: 18px;
	overflow: hidden;
	margin-top: -20px;
}

.progress-bar-success {
	background: #39c639;
}

.progress-bar-warning {
	background:  #ffcc00;
}

.progress-bar-danger {
	background: #ee4141;
}