<div class="dynamic-page">
<ion-content ng-init="initAddBudget()">
	<!--<div class="form-container">-->
	<form ng-submit="saveBudget()">
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Name</span>
				<input type="text" 
					ng-model-options="{updateOn: 'blur'}" 
					ng-class="{'warn': budget.suchNameAlreadyExists}"
					ng-change="validateBudgetName(budget)"
					ng-model="budget.name" required/>
			</label>
			<span class="hint" ng-show="budget.suchNameAlreadyExists"> Such name already exist. Nothing criminal, just warn:)</span>
			<label class="item item-input item-stacked-label">
				<span class="item-label">Booked</span>
				<input type="number"
					ng-model="budget.totalCosts" disabled/>	
			</label>
			<label class="item item-input item-stacked-label">
				<span class="item-label">Start Date</span>
				<input type="date" placeholder="MM/dd/yyyy"
					ng-class="{'invalid': !budget.datesValid}"
					ng-model="budget.startRawDate" 
					ng-model-options="{updateOn:'blur'}" 
					ng-change="budget.isDatesValid()" required/>
			</label>
			<label class="item item-input item-stacked-label">
				<span class="item-label">End Date {{budget.valid}}</span>
				<input type="date" placeholder="MM/dd/yyyy"
					ng-class="{'invalid': !budget.datesValid}"
					ng-model="budget.endRawDate" 
					ng-model-options="{updateOn:'blur'}" 
					ng-change="budget.isDatesValid()" required/>
			</label>
			<span class="hint" ng-show="!budget.datesValid"> Start date has to be earlier than End date</span>
			<div class="list-container" ng-repeat="cat in categories track by $index">
				<div class="list-logo-container" style="background-color:{{cat.style}}">
					<div class="list-logo-box">
						<span class="fl centered"> {{cat.name[0]}}</span>
						<span class="fl centered"> {{cat.name[1]}}</span>
					</div>
				</div>
				<div class="list-item-name" ng-init="initBudgetCategory($index,cat)">{{cat.name}}</div>
				<div class="category-cost white">
					<input type="number" min="0" class="width60"
						ng-model-options="{updateOn: 'blur'}" 
						ng-change="getBudgetSum()" 
						ng-model="budget.categories[$index].amount"
						ng-init="budget.categories[$index].amount=0"/>
				</div>
			</div>
			<div>
				<input type="submit" class="button button-positive button-block" value="Add budget"/> 
			</div>
		</div>
		
	</form>
	<!--</div>-->
</ion-content>
</div>