<div class="dynamic-page" 
	ng-init="initAddTransaction()">
		<form ng-submit="saveTransaction()">
			<div class="list">
				<label class="item item-input item-select">
					<span class="input-label">
						Type
					</span>
					<select style="background-color:{{transaction.category.style}}"
						ng-model="tCat"
						ng-change="selectedCategory(tCat,true)" required>
							<option style="background-color:{{cat.style}}" 
								ng-repeat="cat in categories" 
								ng-value="cat">
									{{cat.name}}
							</option>
					</select>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Name</span>
					<input type="text" maxlength="{{transaction.nameLen}}"
						ng-model="transaction.name" required/>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Date</span>
					<input type="date" placeholder="yyyy-mm-dd"
						ng-model="transaction.rawDate" required/>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Cost</span>
					<input type="number" step="any" min="0" 
						ng-value="0" 
						ng-model="transaction.cost" required/>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Comment</span>
					<input type="text" class="styled-input" maxlength="{{transaction.commentLen}}" id="comment" 
						ng-model="transaction.comment"></textarea>
				</label>
				<button class="button button-block button-positive" type="submit">
					Save
				</button>
			</div>
		</form>
</div>