<!--<div class="dynamic-page" ng-init="budgetDetailsInit()">-->
<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-balanced">
		<h1 class="title">Budget details</h1>
		<div class="buttons">
			<button class="button button-light" ng-click="closeBudgetDetailsModal()">Close</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<form>
				<label class="item item-input item-stacked-label">
					<span class="item-label">Name</lable>
					<input id="b-name" type="text" ng-model="budget.name" disabled/>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="item-label">Booked</lable>
					<input type="text" ng-model="budget.totalCosts" ng-value="{{budget.totalCosts}}" disabled/>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="item-label">Start Date</lable>
					<input type="text" ng-model="budget.startDate" disabled/>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="item-label">End Date</lable>
					<input type="text" ng-model="budget.endDate" disabled/>
				</label>
				<div>
					<div class="list-container" 
						ng-repeat="cat in budgetCategories" 
						ng-click="getTransactionsByCategory(cat, budget)">
							<div class="list-logo-container" style="background-color: {{cat.style}}">
								<div class="list-logo-box">
									<span class="fl centered white"> {{cat.name[0]}}</span>
									<span class="sl centered white"> {{cat.name[1]}}</span>
								</div>
							</div>
							<div class="list-item-name">
								<span class="centered">{{cat.name}}</span>
							</div>
							<div class="list-item-info">
								<span> Booked:{{cat.booked}}</span>
								<span> Spent:{{cat.spent?cat.spent:0}}</span>
							</div>
							<div class="list-item-progress">
								<div class="progress " style="height: 15px">
									<div class="progress-bar progress-bar-{{ getProgressType(cat.spentPerc) }} progress-bar-striped centered" role="progressbar" aria-valuenow="{{ cat.spentPerc }}" aria-valuemin="0" aria-valuemax="100" 
										ng-style="{width : ( (cat.spentPerc > 100?100:cat.spentPerc) + '%' ) }"> {{cat.spentPerc}}%
									</div>
								</div>
							</div>
					</div>
				</div>
			</form>
		</div>
	</ion-content>
</ion-modal-view>