<div class="dynamic-page" ng-if="!authorized">
	<div class="card mt50p">
		<div class="card-title">Authorization required!</div>
		<p class="card-note">Sorry, you have to authorize first</p>
		<input type="button" class="button button-block button-positive button-sm" ng-click="showLoginModal()" value="Login"/>
	</div>
</div>
<div class="dynamic-page"
	ng-if="authorized">
	<ion-content>
		<ion-refresher
			class="pt50"
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh('b')">
		</ion-refresher>
		<div class="pt50">
			<ion-list
				ng-if="authorized"
				ng-init="getBudgets()"
				can-swipe="true">
					<div class="card" ng-show="!budgets.length">
						<h4 class="card-title">No results found!</h4>
						<p class="card-note">Sorry, there is no records found. Please, select another period of add the first one!</p>
						<a href="#app/addBudget" class="button button-positive" ng-click="route(addItems[2], false)">Add first one</a>
					</div>
					<ion-item class="list-container"
						ng-repeat="budget in budgets track by $index" ng-click="showBudgetDetailsModal(budget)">
							<div class="progress-top">
								{{budget.spentPerc}}%
								<div class="progress-bar progress-bar-{{ getProgressType(budget.spentPerc) }} centered semi-square"
									role="progressbar" 
									aria-valuenow="{{ cat.spentPerc }}" 
									aria-valuemin="0" 
									aria-valuemax="100" 
									ng-style="{width : ( (budget.spentPerc > 100?100:budget.spentPerc) + '%' ) }">
									
								</div>
							</div>
							<div class="list-logo-container-with-progress">
								<div class="list-logo-box">
									<span class="fl centered white"> {{budget.name[0]}}</span>
									<span class="sl centered white"> {{budget.name[1]}}</span>
								</div>
							</div>
							<div class="list-item-name-complex">{{ budget.name }}</div>
							<div class="list-item-description">{{ budget.startDate }} / {{ budget.endDate }}</div>
							<div class="budget-cost white">{{ budget.spentCosts?budget.spentCosts : 0 }}/{{budget.totalCosts }}</div>
							<ion-option-button class="button button-assertive"
								ng-click="deleteBudget(budget.name)">
									Delete
							</ion-option-button>
							<ion-option-button class="button button-positive"
								ng-click="edit(item)">
									Edit
							</ion-option-button>
					</ion-item>
			</ion-list>
		</div>
	</ion-content>
</div>