<div class="dynamic-page">
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-energized">
			<h1 class="title">Category Details</h1>
			<div class="buttons">
				<button class="button button-light" ng-click="closeCategoryDetailsModal()">Close</button>
			</div>
		</ion-header-bar>
		<ion-content>
			<form ng-submit="updateCategory()">
				<ion-list>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Name</span>
						<input type="text" class="form-control styled-input" required
							ng-model="category.name"
							disabled=""/>
					</label>
					<label class="item item-input item-stacked-label">
						<span class="item-label">Style</span>
						<select class="form-control styled-input white" id="color-type" style="background-color:{{category.style}}" 
							ng-model="category.style"
							disabled="">
							<option class="category-option" style="background-color:{{c.value}}" 
								ng-repeat="c in colors track by $index" 
								ng-value="c.value">
									{{c.name}}
							</option>
						</select>
					</label>
					<div class="item item-toogle">
						Expense
						<label class="toggle toggle-assertive">
							<input type="checkbox"
								ng-model="category.type" 
								ng-true-value="1" 
								ng-false-value="0"
								disabled=""/>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</div>
				</ion-list>
			</form>
		</ion-content>
	</ion-modal-view>
</div>