<div class="dynamic-page">
    <ion-modal-view>
        <ion-content>
            <label class="item text-center">
                <span class="label text20"> Budget Tracker </span>
            </label>
            <form>
                <div class="list mt30p">
                    <label class="item item-input">
                        <span class="input-label">Login</span>
                        <input type="text" ng-model="loginData.login"/>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="loginData.pass"/>
                    </label>
                    <label class="item">
                        <input class="button button-block button-positive" type="button" ng-click="authorize()" value="Log in"/>
                    </label>
                    <label class="item">
                        <input type="button" class="button button-clear button-positive" ng-click="showRegistrationModal()">Sign up!</input>
                    </label>
                </div>
            </form>
            <div class="app-info">
                <span class="version">v.{{version}}</span>
            </div>
        </ion-content>
    </ion-modal-view>
</div>
