<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Signing up</h1>
        <div class="buttons">
            <button class="button button-light" ng-click="closeRegistrationModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="register()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" class="styled-input" ng-model="regData.name" placeholder="Your name" />
                </label>
                <label class="item item-input">
                    <span class="input-label">Login</span>
                    <input type="text" class="styled-input" ng-model="regData.login" placeholder="Login, used for authorization"/>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" class="styled-input" ng-model="regData.pass" placeholder="Put your password"
                    	ng-mouseleave = "validatePass()"/>
                </label>
                <label class="item item-input">
                	<span class="input-label">Password again</span>
                    <input type="password" class="styled-input" placeholder="Password one more time" 
                    	ng-mouseleave = "validatePass()"
    					ng-model="regData.passConf.value"
    					ng-class="{'invalid': !regData.passConf.valid}" required>
    					<!--ng-class="{'invalid':regData.passConf.invalid}" required>-->
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit"
                    	ng-disabled="!regData.passConf.valid">Sign up!</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>